table, th, td{
 border: 1px solid; color: brown;
 border-collapse: collapse;
 padding: 5px 10px;
}
table{
  width: 80%;
}
th{
  height: 30px;
  border: 1px solid  brown;
  text-align: left;
  background: #a29bfe;
  color:white
}
td{
  background: #00cec9;
  border: 1px solid #d63031;
  color: black;
  height: 35px;
  vertical-align: bottom;
  vertical-align: top;
}
tr:hover th, tr:hover td
{
  background: #6c5ce7;
}
div{
  width: 450px;
  height: 150px;
  overflow : hidden;
  overflow-x : auto;
  overflow-y : scroll;
}